h1 {
	font-size: 40px;
	font-family: Helvetica Neue;
	font-weight: bold;
	text-align: center;
	color: royalblue;
}

h2 {
	font-size: 20px;
	font-family: Helvetica Neue;
	text-align: left;
	color: dodgerblue;
}

body {
	font-size: 16px;
	font-family: Helvetica Neue;
	color: #606060;
	max-width: 1200px;
	margin: auto;
	text-align: justify;
	background-image: url(img/brickwall.png);
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px;
    height: auto;
}